@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* gloabal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    line-height: 54px;
    color: #222;
}

h6{
    font-size: 12px;
    /* line-height: 64px; */
    /* color: #222; */
    font-weight: 700;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}
button.normal:hover{
    background-color: #088178;
    color: white;
}
/* global ended */
#header{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow:3px 5px 15px rgb(0,0,0,0.06);
    position: sticky;
    top: 0;
    left: 0;

}
#navbar{
    display: flex;
}

#mobile{
    display:none;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar #close-btn{
    display: none;
}
#navbar li a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;

}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 4px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* hero section */

#hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    padding: 0 90px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom:15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    border: 0;
    font-size: large;
    color: #088178;
    font-weight: 700;
    cursor: pointer;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
}

/* feature section */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(45, 44, 44, 0.03);
    border: solid 1px #d7e6e5;
    border-radius: 4px;
}

#feature .fe-box:hover{
    box-shadow: 20px 20px 64px rgba(45, 44, 44, 0.2);
}

#feature .fe-box h6{
    /* display: inline-block; */
    padding: 5px;
    color: white;
    background-color: #89D8E1;
    font-size: small;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #D682B2;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #B8DD7F;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #89BFE1;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #8B79B8;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #E2A88A;
}

#feature .fe-box img{
    width:100%;
    margin-bottom: 5px;
}


/* feature product section */

#product1{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#product1 .pro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-top: 20px; */
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius:25px ;
    box-shadow: 5px 2px 20px rgba(173, 170, 170,0.4);
    cursor: pointer;
    margin: 10px 10px;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 9px 2px 20px rgba(173, 170, 170,0.8);
}

#product1 .pro img{
    width:100%;
    border-radius: 20px;
}

#product1 .pro .des span{

    color: rgb(160, 154, 154);

}

#product1 .pro .des *{
    padding: 2px;
}

#product1 .pro .des h5{
    font-size: 16px;
    color: #088178;
    font-weight: 900;
}

#product1 .pro .des h3{
    color: #088178;
}

#product1 .pro .des .star i{
    color: gold;
    font-size: 10px;
}

#product1 .pro .fa-shopping-cart{
   
    float:right;
    font-size: 20px;
    border-radius: 50px;
    color: #088178;
    /* font-weight: 500; */
    transition: 0.3s ease;
    position: absolute;
    bottom: 20px;
    right: 25px;
    /* background-color: #B8DD7F; */
    /* line-height: 40px; */
}


#product1 .pro .fa-shopping-cart:hover{
    background-color:rgba(8, 129, 120,0.4);
    /* color: yellowgreen; */
    font-size: 23px;
}

#banner{
    background-image: url("img/banner/b2.jpg");
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 40vh;

    background-size: cover;
    background-position: center;
}
#banner h4{
    color: white;
}
#banner h1{
    color: white;
}

#banner button:hover{
    color: white;
    background-color: #088178;
}
#banner span{
    color: rgb(225, 33, 33);
}


/* two banner section */


#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    background-image: url("img/banner/b17.jpg");
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

    min-width: 670px;
    height: 50vh;

    background-size: cover;
    background-position: center;

    padding: 0 30px;
}

#sm-banner .banner-box:nth-child(2){
    background-image: url("img/banner/b10.jpg");
}

#sm-banner .banner-box h4{
    font-size: 20px;
    color: white;
    font-weight: 400;
}

#sm-banner .banner-box h2{
    font-size: 29px;
    font-weight: bolder;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 3px;
    color: white;
}

#sm-banner .banner-box p{
    color: white;
}

#sm-banner .banner-box button{
    background-color: transparent;
    border: solid 1px white;
    color: white;
}

#sm-banner .banner-box button:hover{
    background-color: #088178;
    color: #000;
    border: 1px solid #088178;
    color: white;
}

/* sm-banner-3 */
#sm-banner-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner-3 .banner-box{
    background-image: url("img/banner/b7.jpg");
    height: 29vh;
    min-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    background-size: cover;

}
#sm-banner-3 .banner-box:nth-child(2){
    background-image: url("img/banner/b4.jpg");
}

#sm-banner-3 .banner-box:nth-child(3){
    background-image: url("img/banner/b18.jpg");
}

#sm-banner-3 .banner-box h1{
    font-size: 29px;
    font-weight: bolder;
    text-shadow: 0px 2px, 2px 0px, 2px 2px;
    letter-spacing: 3px;
    color: white;
    
}
#sm-banner-3 .banner-box h3{
    font-size: 15px;
    font-weight: bolder;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 3px;
    color: rgb(217, 54, 54);
    
}

/* newslatter section */

#newsletter{
    display: flex;
    justify-content: space-between;
    /* background-image: url("/img/banner/b14.png"); */
    background: rgba(16, 52, 166,0.8);
    height: 22vh;
    /* height: 300px; */
}

#newsletter .box1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    min-width: 50%;

    padding: 0 70px;

}

#newsletter .box1 h2{
    font-size: 30px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    color: white;
}

#newsletter .box1 h6{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.3);
}
#newsletter .box1 span{
    color: goldenrod;
}

#newsletter .box2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}

#newsletter .box2 input{
    height: 65px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 20px;
    padding: 0 1.2rem;
    outline: none;
}
#newsletter .box2 button{
    height: 65px;
    width: 150px;
    background-color: #088178;
    color: white;
    text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
    letter-spacing: 2px;
    margin: 10px;
}

#newsletter .box2 button:hover{
    background-color: white;
    color: #088178;
}

/* footer */

#footer {
    display: flex;
    justify-content: space-between;
    background-color: #f3ebe7;
    height: 50vh;
}

#footer p{
    font-weight: 700;
    color: rgb(96, 95, 95);
}
 
#footer span{
    color:rgb(123, 119, 119) ;
    padding:0 5px;
}

#footer .footer-info:nth-child(4) img{
    border: solid #088178 1px;
    /* padding: 10px; */
    width: 40%;
    border-radius: 4px;
}

#footer .footer-info:nth-child(4) #pay{
    border: none;
    height: 40px;
    width: 70%;
}
/*      shop.html    */

#shop-banner{
    background-image: url("img/banner/b1.jpg");
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: contain;
}

#shop-banner h1{
    color: white;
    font-weight: 300;
    text-shadow: 0px 2px, 2px 0px, 02px 02px;

}

#shop-banner p{
    color: white;
}

/* pagination */

#pagination{
    text-align: center;
    align-items: center;
}

#pagination a{
    text-decoration: none;
    color: white;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
}

#pagination a:hover{
    color: white;
    background-color: white;
    border: solid 1px #088178;
    color: #088178;
}

/* single page product */
#pro-detail{
    display: flex;
    height:100vh;
}
#pro-detail #img-5{
    width: 37%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img{
    flex-basis: 24%;
    cursor: pointer;
}
#pro-detail #des{
    width: 50%;
    padding-top: 30px;
}
#pro-detail #des h6,h2{
    padding: 5px 0 10px 0;
}

#pro-detail #des button{
    background-color: #088178;
    color: white;
}
#pro-detail #des button:hover{
    background-color:white;
    border: #088178 solid 1px;
    color:#088178;
}
#pro-detail #des input{
    height: 44px;
    width: 44px;
}
#pro-detail #des select{
    height: 44px;
}

/* blog-page  */
#banner.blog-header{
    background-image: url("img/banner/b19.jpg");
}
/* media query for mobile IPHONE-SE*/

@media (max-width:477px){

    h1{
        font-size: 30px;
        line-height: 34px;
        color: #222;
    }
    
    h2{
        font-size: 26px;
        line-height: 24px;
        color: #222;
    }
    
    h4{
        font-size: 10px;
        line-height: 24px;
        color: #222;
    }
    
    h6{
        font-size: 8px;
        /* line-height: 64px; */
        /* color: #222; */
        font-weight: 700;
    }
    
    p{
        font-size: 12px;
        color: #465b52;
        margin: 10px 0 10px 0;
    }
    
    
    .section-p1{
        padding:10px 0;
    }
    
    .section-m1{
        margin: 10px 0;
    }

    #header {
        padding: 10px 10px;
    }

    #hero {
        /* background-image: url("img/hero4.png"); */
        height: 63vh;
        background-position: top 25% right 30%;
        padding: 0 10px;
    }


    #newsletter .box1{
        padding: 0 30px;
        align-items: center;
    }

    #newsletter .box1 h2{
        font-size: 20px;
    }    

    #newsletter .box1 h6{
        font-size: 10px;
    }

    #newsletter .box2 input{
        font-size: 12px;
        height: 40px;
        width: 50%;
    }    

    #newsletter .box2 button{
        height: 40px;
        padding: 10px;
        width: 100px;
    }
    

    #sm-banner-3 .banner-box {
       min-width:350px;

    }

    #footer {
        padding: 20px;
       flex-wrap: wrap;
       height:80vh ;
    }
}
/* media query for ipad*/
@media(max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        padding: 80px 0 0 10px;
        box-shadow: -1px 0 10px rgba(117, 116, 116,0.5); 
        transition: 0.3s ease;       
    }
    #navbar li{
        margin: 15px;
    }
    #navbar #close-btn{
        display: flex;
        font-size: 30px;
        cursor: pointer;
    }

    #navbar #close-btn:hover{
        /* font-size:31px; */
        color: rgb(205, 122, 122);

    }

    #mobile{
        display:flex;
    }
    #mobile i{
        margin: 5px;
        font-size: 20px;
        color: #033a37;
        cursor: pointer;
        transition: 0.3s ease;
    }
    #mobile i:hover{
        color: #088178;
        font-size: 23px;
    }


    #hero{
        /* background-image: url("img/hero4.png"); */
        height: 63vh;
        background-position: top 25% right 20%;
        padding: 0 70px;
    }


    #feature {
        justify-content:center;
    }

    #feature .fe-box {
        margin:10px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }

    #banner {
        height: 25vh;
        
    }
    #banner h4,h1{
        font-size: 200%;
    }

    #sm-banner .banner-box {
       min-width:100%;
       height: 30vh;
    }

    #sm-banner-3 {
        justify-content: center;
        flex-direction: column;
        /* min-width: 100%; */
    }

    #newsletter {
        flex-direction: column;
        height: 18vh;
    }

    #footer{
        height: 35vh;
    }
    #footer .footer-info{
        min-width:100px;
    }

    #footer h4, h6,p{
        font-size:80%;
    }
    /* single products page */

    #pro-detail{
        display: flex;
        flex-direction: column;
        
    }
    #pro-detail #img-5{
        width: 100%;
    }
    #pro-detail #des{
        width: 100%;
    }
}